language: php

env:
  - NETTE=default # 2.4
  - NETTE=nette-2.3

php:
  - 5.6
  - 7.0
  - 7.1

#matrix:
#  allow_failures:
#    - php: hhvm

before_script:
  - php tests/travis/prepare-composer.php
  - composer self-update
  - composer install --no-interaction --prefer-source
  - vendor/bin/parallel-lint -e php --exclude vendor .

script: vendor/bin/phpunit --configuration tests/phpunit.xml tests
